{% extends "base.html" %}

{% block content %}
<div class="container py-4">
  <!-- Back Button -->
  <div class="mb-4">
    <a href="{% url 'vulnscan:scanner_type' scanner_history.type %}" class="btn btn-secondary">
      <i class="bi bi-arrow-left"></i> Back
    </a>
  </div>

<!-- <h5><strong>Scanner</strong></h5>
<p><strong>Target: </strong> {{ scanner_history.target }}</p> -->
<p><strong>Created on: </strong> {{ scanner_history.created_on }}</p>

<!-- Scanner History Table -->
<div class="card shadow-sm history-list">
  <div class="card-header bg-dark text-white">
    <h4 class="mb-0">Scanner History</h4>
  </div>

<!-- Hosts Table with new class for styling -->
<table class="table table-striped table-hover history-list
">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">IP</th>
      <th scope="col">Mac address</th>

      <!-- Additional Columns for Full Scan (FS) -->
      {% if scanner_history.type == 'FS' %}
        <th scope="col">View OS matches</th>
        <th scope="col">View ports</th>
      {% endif %}
    </tr>
  </thead>
  
  <tbody>
    {% for host in hosts %}
      <tr>
        <th scope="row">{{ host.id }}</th>
        <td>{{ host.IP }}</td>
        <td>{{ host.mac_address }}</td>

        <!-- View Links for Full Scan (FS) -->
        {% if scanner_history.type == 'FS' %}
          <td>
            <a href="{% url 'vulnscan:os_matches_list' scanner_history.id host.id %}" class="btn" style="background-image: linear-gradient(45deg, #6a5acd, #4b0082); color: white;">View OS matches</a>
          </td>
          <td>
            <a href="{% url 'vulnscan:host_ports_list' scanner_history.id host.id %}" class="btn" style="background-image: linear-gradient(45deg, #6a5acd, #4b0082); color: white;">View ports</a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
